.summoner0 {
  position: absolute;
  /* left: -19px; */
  top: 40.8%;
  left: 50%;
  transform: translateX(-50%);
}

.class2 {
  position: absolute;
  left: 247px;
}

.class3 {
  position: absolute;
  left: 513px;
}

.class4 {
  position: absolute;
  left: 779px;
}

.class5 {
  position: absolute;
  left: 1045px;
}

.loading {
  position: absolute;
  left: 50%;
  transform: translateX(50%);
  top: 40.8%;
  font-size: 30px;
  font-weight: 800;
  color: #ffffff;
}
