/* .singleInput {
  width: 691px;
  height: 144px;
  position: absolute;
  left: 273px;
  top: 311px;
  background-color: white;
  border: 2px solid #5f2eea;
  box-sizing: border-box;
  border-radius: 16px;
} */

.multiInput {
  position: absolute;
  width: 35.1%;
  height: 6%;
  left: 27.6%;
  top: 46.5%;

  background: #ffffff;
  border: 1px solid #fc0174;
  box-sizing: border-box;
  border-radius: 12px;
}

/* .singleormulti {
  width: 181.63px;
  height: 64px;
  position: absolute;
  left: 986px;
  top: 311px;
  outline: 0;
  border: 0;
  background-color: #5f2eea;
  color: white;
  border-radius: 16px;
} */

.search {
  position: absolute;
  width: 9.2%;
  height: 6%;
  left: 63.5%;
  top: 46.5%;

  background: #fc0174;
  border-radius: 16px;

  font-style: normal;
  font-weight: bold;
  font-size: 14px;

  align-items: center;
  text-align: center;
  outline: 0;
  border: 0;

  color: #ffffff;
}
