.singleInput{
    width: 691px;
    height: 144px;
    position: absolute;
    left: 273px;
    top: 311px;
    background-color: white;
    border: 2px solid #5F2EEA;
    box-sizing: border-box;
    border-radius: 16px;
}

.multiInput{
    width: 691px;
    height: 144px;
    position: absolute;
    left: 273px;
    top: 311px;
    background-color: white;
    border: 2px solid #5F2EEA;
    box-sizing: border-box;
    border-radius: 16px;
}

.singleormulti{
    width: 181.63px;
    height: 64px;
    position: absolute;
    left: 986px;
    top: 311px;
    outline: 0;
    border : 0;
    background-color: #5F2EEA;
    color: white;
    border-radius: 16px;
}

.search{
    width: 181.63px;
    height: 64px;
    position: absolute;
    left: 986px;
    top: 391px;
    outline: 0;
    border : 0;
    background-color: #5F2EEA;
    color: white;
    border-radius: 16px;
}