.multiInput {
  position: absolute;
  width: 80%;
  height: 6%;
  left: 0%;
  background: #ffffff;
  border: 1px solid #fc0174;
  box-sizing: border-box;
  border-radius: 12px;
}

.search {
  position: absolute;
  width: 18%;
  height: 6%;
  left: 82%;
  background: #fc0174;
  border-radius: 16px;

  font-style: normal;
  font-weight: bold;
  font-size: 14px;

  align-items: center;
  text-align: center;
  outline: 0;
  border: 0;

  color: #ffffff;
}
