.KDA{
    font-weight: 300;
    font-size: 15px;
    letter-spacing: 1px;
}

.championImg{
    width: 16px;
    height: 16px;
}

.laneImg{
    width: 18px;
    height: 18px;
}

.resultView{
    padding: 1px;
}

#W{
    background-color: rgb(112, 112, 221);
}

#L{
    background-color: rgb(221, 112, 158);
}