.myReportingLogsTitle {
  position: absolute;
  /* width: 110px; */
  height: 36px;
  left: 30.5%;
  top: 23.4%;

  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 36px;
  display: flex;
  align-items: center;
  letter-spacing: -0.05em;

  color: #ffffff;
}
/* 
.Reportinglogs_box1 {
  position: absolute;
  width: 40%;
  height: 7%;
  left: 50%;
  transform: translateX(-50%);
  top: 30.3%;
  background: #282a30;
  border-radius: 12px;
}

.Reportinglogs_box2 {
  position: absolute;
  width: 40%;
  height: 7%;
  left: 50%;
  transform: translateX(-50%);
  top: 38.3%;
  background: #282a30;
  border-radius: 12px;
}

.Reportinglogs_box3 {
  position: absolute;
  width: 40%;
  height: 7%;
  left: 50%;
  transform: translateX(-50%);
  top: 46.3%;
  background: #282a30;
  border-radius: 12px;
}

.Reportinglogs_box4 {
  position: absolute;
  width: 40%;
  height: 7%;
  left: 50%;
  transform: translateX(-50%);
  top: 54.3%;
  background: #282a30;
  border-radius: 12px;
}

.Reportinglogs_box5 {
  position: absolute;
  width: 40%;
  height: 7%;
  left: 50%;
  transform: translateX(-50%);
  top: 62.3%;
  background: #282a30;
  border-radius: 12px;
}

.Reportinglogs_box6 {
  position: absolute;
  width: 40%;
  height: 7%;
  left: 50%;
  transform: translateX(-50%);
  top: 70.3%;
  background: #282a30;
  border-radius: 12px;
} */

.myreportinglogs0 {
  position: absolute;
  width: 40%;
  height: 7%;
  left: 50%;
  transform: translateX(-50%);
  top: 30.3%;
  background: #282a30;
  border-radius: 12px;
}

.myreportinglogs1 {
  position: absolute;
  width: 40%;
  height: 7%;
  left: 50%;
  transform: translateX(-50%);
  top: 38.3%;
  background: #282a30;
  border-radius: 12px;
}

.myreportinglogs2 {
  position: absolute;
  width: 40%;
  height: 7%;
  left: 50%;
  transform: translateX(-50%);
  top: 46.3%;
  background: #282a30;
  border-radius: 12px;
}

.myreportinglogs3 {
  position: absolute;
  width: 40%;
  height: 7%;
  left: 50%;
  transform: translateX(-50%);
  top: 54.3%;
  /* margin-top: 100px; */
  background: #282a30;
  border-radius: 12px;
}

.myreportinglogs4 {
  position: absolute;
  width: 40%;
  height: 7%;
  left: 50%;
  transform: translateX(-50%);
  top: 62.3%;
  /* margin-top: 100px; */
  background: #282a30;
  border-radius: 12px;
}

.myreportinglogs5 {
  position: absolute;
  width: 40%;
  height: 7%;
  left: 50%;
  transform: translateX(-50%);
  top: 70.3%;
  /* margin-top: 100px; */
  background: #282a30;
  border-radius: 12px;
}

.myreportinglogs6 {
  position: absolute;
  width: 40%;
  height: 7%;
  left: 50%;
  transform: translateX(-50%);
  top: 78.3%;
  /* margin-top: 100px; */
  background: #282a30;
  border-radius: 12px;
}

.myreportinglogs7 {
  position: absolute;
  width: 40%;
  height: 7%;
  left: 50%;
  transform: translateX(-50%);
  top: 86.3%;
  /* margin-top: 100px; */
  background: #282a30;
  border-radius: 12px;
}
