.myReportingLogsTitle {
  position: absolute;
  /* width: 110px; */
  height: 36px;
  left: 30.5%;
  top: 23.4%;

  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 36px;
  display: flex;
  align-items: center;
  letter-spacing: -0.05em;

  color: #ffffff;
}
/* 
.Reportinglogs_box1 {
  position: absolute;
  width: 40%;
  height: 7%;
  left: 50%;
  transform: translateX(-50%);
  top: 30.3%;
  background: #282a30;
  border-radius: 12px;
}

.Reportinglogs_box2 {
  position: absolute;
  width: 40%;
  height: 7%;
  left: 50%;
  transform: translateX(-50%);
  top: 38.3%;
  background: #282a30;
  border-radius: 12px;
}

.Reportinglogs_box3 {
  position: absolute;
  width: 40%;
  height: 7%;
  left: 50%;
  transform: translateX(-50%);
  top: 46.3%;
  background: #282a30;
  border-radius: 12px;
}

.Reportinglogs_box4 {
  position: absolute;
  width: 40%;
  height: 7%;
  left: 50%;
  transform: translateX(-50%);
  top: 54.3%;
  background: #282a30;
  border-radius: 12px;
}

.Reportinglogs_box5 {
  position: absolute;
  width: 40%;
  height: 7%;
  left: 50%;
  transform: translateX(-50%);
  top: 62.3%;
  background: #282a30;
  border-radius: 12px;
}

.Reportinglogs_box6 {
  position: absolute;
  width: 40%;
  height: 7%;
  left: 50%;
  transform: translateX(-50%);
  top: 70.3%;
  background: #282a30;
  border-radius: 12px;
} */

.myreportinglogs0 {
  position: absolute;
  width: 40%;
  height: 7%;
  left: 50%;
  transform: translateX(-50%);
  top: 30.3%;
  background: #282a30;
  border-radius: 12px;
}

.myreportinglogs1 {
  position: absolute;
  width: 40%;
  height: 7%;
  left: 50%;
  transform: translateX(-50%);
  top: 38.3%;
  background: #282a30;
  border-radius: 12px;
}

.myreportinglogs2 {
  position: absolute;
  width: 40%;
  height: 7%;
  left: 50%;
  transform: translateX(-50%);
  top: 46.3%;
  background: #282a30;
  border-radius: 12px;
}

.myreportinglogs3 {
  position: absolute;
  width: 40%;
  height: 7%;
  left: 50%;
  transform: translateX(-50%);
  top: 54.3%;
  /* margin-top: 100px; */
  background: #282a30;
  border-radius: 12px;
}

.myreportinglogs4 {
  position: absolute;
  width: 40%;
  height: 7%;
  left: 50%;
  transform: translateX(-50%);
  top: 62.3%;
  /* margin-top: 100px; */
  background: #282a30;
  border-radius: 12px;
}

.myreportinglogs5 {
  position: absolute;
  width: 40%;
  height: 7%;
  left: 50%;
  transform: translateX(-50%);
  top: 70.3%;
  /* margin-top: 100px; */
  background: #282a30;
  border-radius: 12px;
}
/* 
.Reportinglogs_boxText {
  position: absolute;
  top: 22%;
  left: 2%;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  display: flex;
  align-items: center;
  color: #ffffff;
  text-align: left;
  white-space: pre-line;
}
.Reportinglogs_boxText1 {
  position: absolute;
  top: 22%;
  left: 2%;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  display: flex;
  align-items: center;
  color: #ffffff;
  text-align: left;
  white-space: pre-line;
}

.Reportinglogs_boxText2 {
  position: absolute;
  bottom: 23%;
  left: 2%;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  display: flex;
  align-items: center;
  color: #ffffff;
  text-align: left;
  white-space: pre-line;
} */
/* 
.Reportinglogs1_Delete {
  position: absolute;
  right: 2%;
  top: 30%;
}

.Reportinglogs2_Delete {
  position: absolute;
  right: 2%;
  top: 30%;
}

.Reportinglogs3_Delete {
  position: absolute;
  right: 2%;
  top: 30%;
}

.Reportinglogs4_Delete {
  position: absolute;
  right: 2%;
  top: 30%;
}

.Reportinglogs5_Delete {
  position: absolute;
  right: 2%;
  top: 30%;
}

.Reportinglogs6_Delete {
  position: absolute;
  right: 2%;
  top: 30%;
}

.Reportinglogs1_Paper {
  position: absolute;
  right: 6%;
  top: 30%;
}

.Reportinglogs2_Paper {
  position: absolute;
  right: 6%;
  top: 30%;
}

.Reportinglogs3_Paper {
  position: absolute;
  right: 6%;
  top: 30%;
}

.Reportinglogs4_Paper {
  position: absolute;
  right: 6%;
  top: 30%;
}

.Reportinglogs5_Paper {
  position: absolute;
  right: 6%;
  top: 30%;
}

.Reportinglogs6_Paper {
  position: absolute;
  right: 6%;
  top: 30%;
} */
