.multiInputForMulti {
  position: absolute;
  width: 35.1%;
  height: 6%;
  left: 27.6%;
  /* top: 46.5%; */
  top: 20%;

  background: #ffffff;
  border: 1px solid #fc0174;
  box-sizing: border-box;
  border-radius: 12px;
}

.searchForMulti {
  position: absolute;
  width: 9.2%;
  height: 6%;
  left: 63.5%;
  /* top: 46.5%; */
  top: 20%;

  background: #fc0174;
  border-radius: 16px;

  font-style: normal;
  font-weight: bold;
  font-size: 14px;

  align-items: center;
  text-align: center;
  outline: 0;
  border: 0;

  color: #ffffff;
}
