.ReportedLog2_Box {
  /* position: absolute; */
  width: 40%;
  height: 7.2%;
  /* left: 38%; */
  /* top: 56%; */
  background: #282a30;
  border-radius: 12px;
}

.ReportedLog2_Text {
  position: absolute;
  width: 40%;
  height: 7.2%;
  top: 21%;
  left: 2%;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  /* display: flex; */
  /* align-items: center; */
  color: #ffffff;
  text-align: left;
  /* white-space: pre-line; */
  white-space: nowrap;
}

.ReportedLog2_Pencil {
  position: absolute;
  right: 2%;
  top: 30%;
}
