.LeftBarStyle2 {
  position: absolute;
  width: 14.6%;
  height: 8px;
  left: 34.7%;
  top: 25.3%;
  background: #fc0174;
  border-radius: 40px;
}

.RightBarStyle2 {
  position: absolute;
  width: 14.6%;
  height: 8px;
  left: 50.1%;
  top: 25.3%;
  background: #fc0174;
  border-radius: 40px;
}

.LeftText2 {
  position: relative;
  left: 83.5%;
  top: -300%;

  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  text-align: right;
  /* identical to box height */

  display: flex;
  align-items: center;
  letter-spacing: -0.05em;

  color: #ffffff;
}

.RightText2 {
  position: relative;
  left: 83%;
  top: -300%;

  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  text-align: right;
  /* identical to box height */

  display: flex;
  align-items: center;
  letter-spacing: -0.05em;

  color: #ffffff;
}

#MannerPoint {
  position: absolute;

  top: 32.3%;
  left: 34.7%;

  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0px;
  text-align: left;
  color: #ffffff;
}

#MannerPointInput {
  position: absolute;
  width: 20.5%;
  left: 44%;
  top: 34.3%;
  border-radius: 16px;
  outline: 0;
  border: 0;
  color: #fc0174;
}

#evaluation_0 {
  position: absolute;
  top: -5%;
  font-size: 9px;
  font-weight: 600;
  color: #ffffff;
  opacity: 80%;
}

#evaluation_100 {
  position: absolute;
  top: -5%;
  right: 0%;
  font-size: 9px;
  font-weight: 600;
  color: #ffffff;
  opacity: 80%;
}

#Tag {
  position: absolute;

  top: 39%;
  left: 34.7%;

  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0px;
  text-align: left;
  color: #ffffff;
}

.TagsButtonContainer {
  position: absolute;
  top: 40.7%;
  left: 43.75%;
  width: 21%;
  height: 4%;
}

#tagbutton {
  position: relative;
  height: 90%;
  width: 48%;
  border-radius: 10px;
  background-color: #fc0174;
  outline: 0;
  border: 0;
  padding: 1%;
  margin-left: 2%;
  margin-bottom: 2.3%;

  font-size: 12%;
  font-style: normal;
  font-weight: 600;
  /* line-height: 28px; */
  text-align: center;
  color: #ffffff;
}

#Comment {
  position: absolute;

  top: 63.8%;
  left: 34.7%;

  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0px;
  text-align: left;
  color: #ffffff;
}

#CommentInput {
  position: absolute;
  width: 20.5%;
  height: 3.75%;
  left: 44%;
  top: 65.4%;
  border-radius: 8px;
  outline: 0;
  border: 1px solid #fc0174;
  /* background-color: #eff0f7; */
}

.submitButton {
  position: absolute;
  /* width: 120px; */
  width: 8.3%;
  height: 39.81px;
  left: 37.85%;
  /* left: 50%; */
  /* transform: translateX(-75%); */
  top: 78%;
  background: #fc0174;
  border-radius: 40px;
  color: white;
  font-weight: bold;

  outline: 0;
  border: 0;
}

.cancelButton {
  position: absolute;
  width: 8.3%;
  height: 39.81px;
  /* left: calc(50.1% + 15.4 / 2); */
  left: 53.25%;
  top: 78%;
  background: #fc0174;
  border-radius: 40px;
  color: white;
  font-weight: bold;

  outline: 0;
  border: 0;
}
