/* .Process {
    position: absolute;
    height: 840px;
    width: 480px;
    left: 300px;
    right: 300px;
    top: 278px;
    bottom: 1227px;
} */

.LeftBarStyle1 {
  position: absolute;
  width: 14.6%;
  height: 8px;
  left: 34.7%;
  top: 30.3%;
  background: #fc0174;
  border-radius: 40px;
}

.RightBarStyle1 {
  position: absolute;
  width: 14.6%;
  height: 8px;
  left: 50.1%;
  top: 30.3%;
  background: #767676;
  border-radius: 40px;
}

.LeftBarText1 {
  position: absolute;
  /* width: 14.6%; */
  /* height: 8px; */
  left: 46%;
  top: 27%;
  /* background: #fc0174; */
  /* border-radius: 40px; */

  /* font-family: Poppins; */
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  /* identical to box height */

  display: flex;
  align-items: center;
  letter-spacing: -0.05em;

  color: #ffffff;
}

.RightBarText1 {
  position: absolute;
  /* width: 14.6%; */
  /* height: 8px; */
  left: 61.2%;
  top: 27%;
  /* background: #fc0174; */
  /* border-radius: 40px; */

  /* font-family: Poppins; */
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  /* identical to box height */

  display: flex;
  align-items: center;
  letter-spacing: -0.05em;

  color: #ffffff;
}

.ReportAction {
  background-color: aquamarine;
}

.Box1 {
  position: absolute;
  height: 240px;
  width: 840px;
  left: 300px;
  right: 300px;
  border-radius: 32px;
  top: 278px;
  bottom: 1227px;
  background-color: #ffffff;
}
.Box1 #MannerPoint {
  position: absolute;
  height: 50px;
  width: 1000px;
  top: 20px;
  left: 54px;
  right: 863px;
  bottom: 1510px;

  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0px;
  text-align: left;
}

.Box1 #MannerPointDescription {
  position: absolute;
  height: 50px;
  width: 1000px;
  top: 425px;
  left: 380px;
  right: 863px;
  bottom: 1510px;

  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0px;
  text-align: left;
}

.Box1 #MannerPointInput {
  position: absolute;
  height: 80px;
  width: 691px;
  left: 74px;
  top: 88px;
  border-radius: 16px;
  outline: 0;
  border: 0;
  background-color: #eff0f7;

  font-size: 20px;
  font-weight: 700;
}

.Box2 {
  position: absolute;
  height: 240px;
  width: 840px;
  border-radius: 32px;
  left: 300px;
  right: 300px;
  top: 577px;
  bottom: 688px;
  background-color: #ffffff;
}

.Box2 #Tag {
  position: absolute;
  height: 50px;
  width: 1000px;
  top: 20px;
  left: 54px;
  right: 863px;
  bottom: 1510px;

  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0px;
  text-align: left;
}
.Box2 .tags {
  position: absolute;
  height: 120px;
  width: 750px;
  top: 80px;
  left: 54px;
  right: 863px;
  bottom: 1510px;

  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0px;
  text-align: left;
}

.Box2 #button {
  position: relative;
  height: 44px;
  width: 140px;
  left: 10px;
  right: 10px;
  top: 0px;
  border-radius: 16px;
  background-color: #5f2eea;
  outline: 0;
  border: 0;
  padding: 3px;
  margin-left: 6px;

  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0.75px;
  text-align: center;
  color: #ffffff;
}

.Box3 {
  position: absolute;
  height: 240px;
  width: 840px;
  border-radius: 32px;
  left: 300px;
  right: 300px;
  top: 876px;
  bottom: 149px;
  background-color: #ffffff;
}

.Box3 #Comment {
  position: absolute;
  height: 50px;
  width: 1000px;
  top: 20px;
  left: 54px;
  right: 863px;
  bottom: 1510px;

  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0px;
  text-align: left;
}

.Box3 #CommentInput {
  position: absolute;
  height: 80px;
  width: 691px;
  left: 74px;
  top: 88px;
  border-radius: 16px;
  outline: 0;
  border: 0;
  background-color: #eff0f7;
}

.submitButton {
  position: absolute;
  width: 120px;
  height: 39.81px;
  left: 50%;
  transform: translateX(-50%);
  /* left: 45.8%; */
  top: 78%;
  background: #fc0174;
  border-radius: 40px;
  color: white;
  font-weight: bold;

  outline: 0;
  border: 0;
}

.cancelButton {
  position: absolute;
  width: 120px;
  height: 39.81px;
  left: 50%;
  transform: translateX(-50%);
  /* left: 45.8%; */
  top: 78%;
  background: #fc0174;
  border-radius: 40px;
  color: white;
  font-weight: bold;

  outline: 0;
  border: 0;
}
