.NumReports{
    position: absolute;
    left: 25%;
    bottom: 600px;
    font-weight: 800;
    font-size: 30px;
    line-height: 41px;
}
 
.NumPrevents{
    position: absolute;
    right: 25%;
    bottom: 600px;
    font-weight: 800;
    font-size: 30px;
    line-height: 41px;
}
