/* .titleTextStyle{
    position: absolute;
    top: 100px;
    left: 610px; 
    font-weight: 800;
    font-size: 64px;
    line-height: 66px;
} */

.LeftBarStyle1 {
  position: absolute;
  width: 14.6%;
  height: 8px;
  left: 34.7%;
  /* left: 0%; */
  top: 30.3%;
  background: #fc0174;
  border-radius: 40px;
}

.RightBarStyle1 {
  position: absolute;
  width: 14.6%;
  height: 8px;
  left: 50.1%;
  top: 30.3%;
  background: #767676;
  border-radius: 40px;
}

.LeftText1 {
  position: relative;
  left: 83.5%;
  top: -300%;

  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  text-align: right;
  /* identical to box height */

  display: flex;
  align-items: center;
  letter-spacing: -0.05em;

  color: #ffffff;
}

.RightText1 {
  position: relative;
  left: 83%;
  top: -300%;

  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  text-align: right;
  /* identical to box height */

  display: flex;
  align-items: center;
  letter-spacing: -0.05em;

  color: #ffffff;
}

.RightBarText1 {
  position: relative;
  /* width: 14.6%; */
  /* height: 8px; */
  left: 64.2%;
  /* left: 70%; */
  top: 27%;

  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  /* identical to box height */

  display: flex;
  align-items: center;
  letter-spacing: -0.05em;

  color: #ffffff;
}

.selectBox {
  position: absolute;
  /* width: 180px;
height: 36px; */
  left: 34.7%;
  top: 40.3%;
  width: 30%;
}
.subtitleTextStyle {
  position: absolute;
  /* width: 180px;
height: 36px; */
  /* left: 34.7%;
  top: 40.3%; */
  /* font-family: Noto Sans KR; */
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 36px;
  display: flex;
  align-items: center;
  letter-spacing: -0.05em;

  color: #ffffff;
}

#reportSummoner {
  position: relative;

  height: 5%;
  top: 53px;

  background: #ffffff;
  border: 1px solid #fc0174;
  box-sizing: border-box;
  border-radius: 12px;

  font-size: 15px;
}

.authStyle {
  position: absolute;
  width: 120px;
  height: 20px;
  left: 63%;
  transform: translateX(-50%);
  top: 56%;
  background: transparent;
  border-radius: 40px;
  color: white;
  font-weight: bold;

  outline: 0;
  border: 0;
}

.buttonAuthStyle {
  position: absolute;
  width: 120px;
  height: 20px;
  left: 63%;
  transform: translateX(-50%);
  top: 56%;
  background: transparent;
  border-radius: 40px;
  color: white;
  font-weight: bold;

  outline: 0;
  border: 0;
}

.buttonStyle {
  position: absolute;
  width: 120px;
  height: 39.81px;
  left: 50%;
  transform: translateX(-50%);
  top: 78%;
  background: #fc0174;
  border-radius: 40px;
  color: white;
  font-weight: bold;

  outline: 0;
  border: 0;
}
