.ChangePWTitle {
  position: absolute;
  left: 35.4%;
  top: 31.5%;

  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 36px;
  display: flex;
  align-items: center;
  letter-spacing: -0.05em;

  color: #ffffff;
}

.ChangePW_inputField1 {
  position: absolute;
  width: 30.6%;
  height: 6.5%;
  left: 35.1%;
  top: 36.5%;

  background: #ffffff;
  border: 1px solid #fc0174;
  box-sizing: border-box;
  border-radius: 12px;
}

.ChangePW_inputField2 {
  position: absolute;
  width: 30.6%;
  height: 6.5%;
  left: 35.1%;
  top: 44%;

  background: #ffffff;
  border: 1px solid #fc0174;
  box-sizing: border-box;
  border-radius: 12px;
}

.ChangePW_inputField3 {
  position: absolute;
  width: 30.6%;
  height: 6.5%;
  left: 35.1%;
  top: 51.5%;

  background: #ffffff;
  border: 1px solid #fc0174;
  box-sizing: border-box;
  border-radius: 12px;
}

.ChangePW_Login_text {
  position: absolute;
  left: 35.4%;
  top: 59%;

  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 22px;

  display: flex;
  align-items: center;
  letter-spacing: -0.05em;

  color: #ffffff;
}

.ChangePW_Finduserinfo_text {
  position: absolute;
  right: 34.5%;
  top: 59%;

  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 22px;

  display: flex;
  align-items: center;
  letter-spacing: -0.05em;

  color: #ffffff;
}

.ChangePWButton {
  position: absolute;
  width: 120px;
  height: 39.81px;
  left: 50%;
  transform: translateX(-50%);
  top: 78%;
  background: #fc0174;
  border-radius: 40px;
  color: white;
  font-weight: bold;

  outline: 0;
  border: 0;
}
