.myReportedLogsTitle {
  position: absolute;
  /* width: 110px; */
  height: 36px;
  left: 30.5%;
  top: 23.4%;

  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 36px;
  display: flex;
  align-items: center;
  letter-spacing: -0.05em;

  color: #ffffff;
}

.reportedlogs_box1 {
  position: absolute;
  width: 40%;
  height: 7%;
  /* left: 33.5%; */
  left: 50%;
  transform: translateX(-50%);
  top: 30.3%;
  background: #282a30;
  border-radius: 12px;
}

.reportedlogs_box2 {
  position: absolute;
  width: 40%;
  height: 7%;
  left: 50%;
  transform: translateX(-50%);
  top: 38.3%;
  background: #282a30;
  border-radius: 12px;
}

.reportedlogs_box3 {
  position: absolute;
  width: 40%;
  height: 7%;
  left: 50%;
  transform: translateX(-50%);
  top: 46.3%;
  background: #282a30;
  border-radius: 12px;
}

.reportedlogs_box4 {
  position: absolute;
  width: 40%;
  height: 7%;
  left: 50%;
  transform: translateX(-50%);
  top: 54.3%;
  /* margin-top: 100px; */
  background: #282a30;
  border-radius: 12px;
}

.reportedlogs_box5 {
  position: absolute;
  width: 40%;
  height: 7%;
  left: 50%;
  transform: translateX(-50%);
  top: 62.3%;
  /* margin-top: 100px; */
  background: #282a30;
  border-radius: 12px;
}

.reportedlogs_box6 {
  position: absolute;
  width: 40%;
  height: 7%;
  left: 50%;
  transform: translateX(-50%);
  top: 70.3%;
  /* margin-top: 100px; */
  background: #282a30;
  border-radius: 12px;
}

.reportedlogs_boxText {
  position: absolute;
  top: 22%;
  left: 2%;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  display: flex;
  align-items: center;
  color: #ffffff;
  text-align: left;
  white-space: pre-line;
}
.reportedlogs_boxText1 {
  position: absolute;
  top: 22%;
  left: 2%;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  display: flex;
  align-items: center;
  color: #ffffff;
  text-align: left;
  white-space: pre-line;
}

.reportedlogs_boxText2 {
  position: absolute;
  bottom: 23%;
  left: 2%;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  display: flex;
  align-items: center;
  color: #ffffff;
  text-align: left;
  white-space: pre-line;
}

.reportedlogs_Pencil {
  position: absolute;
  right: 2%;
  top: 30%;
}

.reportedlogs_Delete {
  position: absolute;
  right: 2%;
  top: 30%;
}

.reportedlogs_Paper {
  position: absolute;
  right: 6%;
  top: 30%;
}
