/* .logoImage{
    position: absolute;
    height: 68px;
    width: 218px;
    left: 117px;
    top: 26px;
    border-radius: nullpx;
} */

.loginButton {
  position: absolute;
  width: 120px;
  height: 39.81px;
  right: 198px;
  /* top: 53.92px; */
  top: 40px;

  background: #fc0174;
  border-radius: 40px;

  font-style: normal;
  font-weight: 600px;
  font-size: 10px;
  color: #ffffff;

  outline: 0;
  border: 0;
}

.mypageButton {
  position: absolute;
  width: 120px;
  height: 39.81px;
  right: 58px;
  /* top: 53.92px; */
  top: 40px;

  background: #fc0174;
  border-radius: 40px;

  font-style: normal;
  font-weight: 600px;
  font-size: 10px;
  color: #ffffff;

  outline: 0;
  border: 0;
}
