.logoImage{
    position: absolute;
    height: 68px;
    width: 218px;
    left: 117px;
    top: 26px;
    border-radius: nullpx;
}

.loginButton{
    width: 120px;
    height: 38.4px; 
    position: absolute;
    left: 77.92%;
    right: 13.75%;
    top: 5.78%;
    bottom: 89.96%;
    background: #5F2EEA;
    border-radius: 40px;
    color: white;
    outline: 0;
    border : 0;
}

.mypageButton{
    width: 120px;
    height: 38.4px; 
    position: absolute;
    left: 87.64%;
    right: 4.03%;
    top: 5.78%;
    bottom: 89.96%;
    background: #5F2EEA;
    border-radius: 40px;
    color: white;
    outline: 0;
    border : 0;
}